<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,viewport-fit=cover">
    <title>Food Website</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="Foodie.png" rel="icon" type="image/png">
</head>
<body>

    <div class="container" id="container">
        <div id="menu">
            <div class="title">
                <img src="Foodie.png" alt="Foodie">
            </div>
            <div class="menu-item">
                <a href="index.html">Home</a>
                <a href="orders.html">Your Orders</a>
                <a href="wishlist.html">Wishlists</a>
                <a href="Login.html">Login</a>
                <a href="Sign.html">Signup</a>
            </div>
        </div>

        <div id="food-container">
            <div id="header">
                <div class="add-box">
                    <i class="fa fa-map-marker your-address" id="add-address"> Your Address</i>
                </div>
                <div class="util">
                    <i class="fa fa-search"> Search</i>
                    <i class="fa fa-tags"> Offers</i>
                    <i class="fa fa-cart-plus" id="cart-plus"> 0 Items</i>
                </div>
            </div>

            <div id="food-items">

                <div id="biryani" class="m-biryani">
                    <p id="category-name">Biryani</p>    
                </div>
                <div id="chicken" class="m-chicken">
                    <p id="category-name">Chicken Delicious</p>    
                </div>
                <div id="paneer" class="m-paneer">
                    <p id="category-name">Paneer Mania</p>
                </div>
                <div id="vegetable" class="m-vegetable">
                    <p id="category-name">Pure Veg Dishes</p> 
                </div>
                <div id="chinese" class="m-chinese">
                    <p id="category-name">Chinese Corner</p> 
                </div>
                <div id="south-indian" class="m-south-indian">
                    <p id="category-name">South Indian</p>
                </div>
            </div>            

            <div id="cart-page" class="cart-toggle">
                <p id="cart-title">Cart Items</p>
                <p id="m-total-amount">Total Amount : ₹250</p>
                <table>
                    <thead>
                        <td>Item</td>
                        <td>Name</td>
                        <td>Quan</td>
                        <td>Price</td>
                    </thead>
                    <tbody id="table-body">
                        <tr>
                            <td>
                                <img src="Biryani.png" alt="img">
                            </td>
                            <td>Chicken Pyaza</td>
                            <td>
                                <button class="decrease-item">-</button>
                                <span>1</span>
                                <button class="increase-item">+</button>
                            </td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div id="cart">
            <div class="taste-header">
                <div class="user">
                    <i class="fa fa-user-circle">
                        Account
                    </i>
                </div>
            </div>
            <div id="category-list">
                <p class="item-menu">Go For Hunt</p>
                <div class="border"></div>
                <div class="list-card">
                    <img src="" alt="">
                    <a href="" class="list-name">Chinese</a>
                </div>
                <div class="list-card">
                    <img src="" alt="">
                    <a href="" class="list-name">Chinese</a>
                </div>
                <div class="list-card">
                    <img src="" alt="">
                    <a href="" class="list-name">Chinese</a>
                </div>
                <div class="list-card">
                    <img src="" alt="">
                    <a href="" class="list-name">Chinese</a>
                </div>
                <div class="list-card">
                    <img src="" alt="">
                    <a href="" class="list-name">Chinese</a>
                </div>
                <div class="list-card">
                    <img src="" alt="">
                    <a href="" class="list-name">Chinese</a>
                </div>
                <div class="list-card">
                    <img src="" alt="">
                    <a href="" class="list-name">Chinese</a>
                </div>
                <div class="list-card">
                    <img src="" alt="">
                    <a href="" class="list-name">Chinese</a>
                </div>
                <div class="list-card">
                    <img src="" alt="">
                    <a href="" class="list-name">Chinese</a>
                </div>
            </div>
            <div id="checkout" class="cart-toggle">
                <p id="total-item">Total Item : 1</p>
                <p id="total-price">Total Amount : ₹250</p>
                <p id="delivery">Free Delivery Above ₹40</p>
                <button class="cart-btn">Checkout</button>
            </div>
        </div>
    </div>
    
    <script src="index.js" type="module"></script>
</body>
</html>