<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie Login</title>
    <link rel="stylesheet" href="Login.css"> 
    <link href="Foodie.png" rel="icon" type="image/png">
</head>
<body>
    <header>
        <h1>Foodie</h1>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="orders.html">Your Orders</a></li>
            <li><a href="wishlist.html">Wishlists</a></li>
            <li><a href="Login.html">Login</a></li>
            <li><a href="Sign.html">Signin</a></li>
          </ul>
        </nav>
      </header>
    <div class="login-container">
        <div class="logo-container">
            <img src="Foodie.png" alt="Foodie" class="logo">
        </div>
        <h2>Login to Foodie</h2>
        <form action="login.php" method="Login.php">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="Sign.html">Signup</a></p>
    </div>
</body>
</html>
